<div *ngIf="tourist" class="rounded-3 overflow-hidden shadow position-relative">
  <img [src]="tourist.picture" alt="tuorist" class="card-img" />
  <div class="bg-white p-4">
    <div>
      <i
        *ngFor="let star of [].constructor(tourist.rating); let i = index"
        class="bi bi-star-fill text-warning h4"
      ></i>
      <i
        *ngFor="let star of [].constructor(5 - tourist.rating); let i = index"
        class="bi bi-star-fill text-muted h4"
      ></i>
    </div>
    <h2 class="fw-bold mt-2">{{ tourist.name }}</h2>
    <p>{{ tourist.description }}</p>
    <p>
      Location: <b>{{ tourist.location }}</b>
    </p>
  </div>
</div>
